node_modules/
npm-debug.log
yarn-error.log
*.tsbuildinfo

coverage/
dist/

packages/postcss-typescript-d-ts-integration/styles/**/*.pcss.d.ts
packages/postcss-typescript-d-ts-integration/styles/**/*.css
packages/postcss-typescript-d-ts-integration/styles/**/*.json
